* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: aquamarine;
  
}

h1 {
  text-align: center;
  font-size: 2.2rem;
  margin: 300px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(233, 81, 30);
  
  
}

p{
  text-align: center;
  margin: 300px;
  font-size: 1.2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  
}